# Chaves e Bancos de Dados
.env
consultas.db
*.sqlite3

# Cache e Compilados Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais
venv/
env/

# Configurações de Editor e Histórico Local
.vscode/
.history/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db