# Segredos
.env

# Bancos SQLite e backups
*.db

# Cache e compilados Python
__pycache__/
*.pyc

# Ambientes virtuais
venv/
env/
.venv/

# Configuracoes de IDE/editor
.vscode/
.idea/

# Extras locais
.history/
*.pyo
*.pyd
.DS_Store
Thumbs.db