{% extends "base.html" %}

{% block content %}
<div class="module-header">
    <h2>🪪 CONSULTA DE CNH</h2>
</div>

<div id="areaBusca" style="width: 100%;">
    
    <div class="input-group" id="grupoCNH">
        <input type="text" id="cpfInput" placeholder="Digite o CPF (só números)" maxlength="14" autofocus>
        <button id="btnConsultarCNH" onclick="fazerConsultaCNH()">Consultar CNH</button>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 15px; margin-bottom: 15px;">
        <div class="cf-turnstile" data-sitekey="0x4AAAAAACl3rXFR93fDYsnj" data-theme="dark"></div>
    </div>
    
    <div id="loader" class="loader" style="display: none;"></div>
    
    <div id="resultadoContainer" class="resultado-container" style="display: none;">
        <div id="resultado" class="resultado"></div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script src="/static/js/cnh.js?v=111.0"></script>
{% endblock %}