{% extends "base.html" %}

{% block content %}
<div id="menuModulos" class="modulos-grid">
    <a href="/placa" class="modulo-card" style="text-decoration: none; color: inherit;">
        <img src="/static/img/placa.png" alt="Placa Mercosul" class="modulo-icon">
        <h3>PLACA</h3>
        <p>Busca de Veículos</p>
    </a>
    
    <a href="/cnh" class="modulo-card" style="text-decoration: none; color: inherit;">
        <img src="/static/img/cnh.png" alt="CNH" class="modulo-icon">
        <h3>CNH</h3>
        <p>Rosto e Dados</p>
    </a>
</div>
{% endblock %}